.action__wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;

}
.action__item{
  img{
    width: 100%;
    object-fit: cover;
  }
  h2{
    text-align: center;
    padding: 20px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #000000;
  }

}