@import '../abstracts/mixins';

.choose{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose h2{
  padding: 70px 0px 35px 0px;
  @include philosopher;
}
.choose__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  img{
    padding-bottom: 20px;
  }
  h3{
    padding-bottom: 10px;
  }
  p{
    padding-bottom: 45px;
  }
}

