@import '../abstracts/variables';
@import '../abstracts/mixins';
.directions{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../dist/img/bg_directions.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 167px;
 
}
.directions::before{
  content: '';
  width: 100%;
  height: 89px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  mask-image: url('../../../dist/img/bg_sky.png');
  mask-size: cover; 
  mask-repeat: no-repeat;
  mask-position: center;
  z-index: 2;
}
// .directions__img--girl{
//   min-width: 86px;
//   min-height: 149px;
//   position: absolute;
//   left: 0;
//   bottom: 0;
// }
// .directions__img--boy{
//   min-width: 98px;
//   min-height: 141px;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   transform: translate(10px, 0px);
// }
.directions__conteiner {
  position: relative;
  max-width: 300px;
  min-height: 260px;
  background-color: #fff;
  border-radius: 15px;
  padding: 65px 5px 0px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  text-align: center;
  margin-bottom: 30px;
}
.directions__title{
  padding-bottom: 60px;
  @include philosopher;
  text-align: center;

}
.direction__conteiner--img {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 150px;
  border-radius: 3%;
  overflow: hidden;

}
.direction__conteiner--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.direction__conteiner--content {
  margin-top: 70px; /* Adjust to move content below the image */
}
.direction__conteiner--content h2 {
  /* Прогулки верхом с тренером */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #363434;
}
.direction__conteiner--content span {
  display: block;
  background-color: var(--color-green);
  height: 1px;
  width: 26px;
  margin: 10px auto;
}
.direction__conteiner--content p {
  /* Тренировка клиентов, подготовка к занятиям конным спортом на профессиональном уровне под руководством опытных теннеров */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #7E7E7E;
}
.btn_directions{
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0%, 50%);
}
.directions__img-footer::before{
  content: '';
  width: 86px;
  height: 149px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-22%, -23%);
  background-image: url('/dist/img/girl-on-horse.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.directions__img-footer::after{
  content: '';
  width: 98px;
  height: 141px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(31%, -19%);
  background-image: url('/dist/img/boy-and-horse.png');
  background-repeat: no-repeat;
  background-size: contain;
}
@media(min-width: 480px){
  .directions__conteiner-wrapper{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 5px  ;
  }
  .direction__conteiner--img {
    width: 200px;
  }
  .directions__conteiner {
    max-width: 230px;
  }
  .directions__img-footer::before{
    width: 157px;
    height: 272px;
    transform: translate(-22%, 0%);
  }
  .directions__img-footer::after{
    width: 189px;
    height: 270px;
    transform: translate(30%, 0%);
  }
}
@media(min-width: 768px){
  .directions__conteiner-wrapper{
    gap: 20px  ;
  }
  .direction__conteiner--img {
    width: 304px;
  }
  .directions__conteiner {
    max-width: 354px;
  }
  .directions__img-footer::before{
    width: 157px;
    height: 272px;
    transform: translate(0%, 0);
  }
  .directions__img-footer::after{
    width: 189px;
    height: 270px;
    transform: translate(0%, 0);
  }
}

@media(min-width: 1000px){
  .directions{
    height: 1198px;
    justify-content: center;
  }
  .directions__title {
    font-size: 30px;
    line-height: 36px;
 }
  .directions__conteiner-wrapper{
    grid-template-columns:  1fr 1fr 1fr;
  }
  .direction__conteiner--img {
    width: 250px;
  }
  .directions__conteiner {
    max-width: 300px;
  }
  .directions__img-footer::before{
    width: 202px;
    height: 350px;
  }
  .directions__img-footer::after{
    width: 239px;
    height: 342px;
  }
}
@media(min-width: 1920px){
  .directions{
    height: 1598px;
    justify-content: flex-end;
    gap: 30px;
  }
  .directions__title {
    font-size: 40px;
 }
  
  .direction__conteiner--img {
    width: 320px;
  }
  .directions__conteiner {
    max-width: 370px;
  }
  .directions__img-footer::before{
    width: 305px;
    height: 530px;
  }
  .directions__img-footer::after{
    width: 372px;
    height: 532px;
  }
}
