@import '../abstracts/variables';
@import '../abstracts/mixins';
.directions{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../dist/img/Направлення\ клубу.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 167px;
 
}
.directions::before{
  content: '';
  height: 99%;
  width: 100%;
  background-image: url("../../../dist/img/Облака 1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
}
.directions__img--girl{
  min-width: 86px;
  min-height: 149px;
  position: absolute;
  left: 0;
  bottom: 3%;
}
.directions__img--boy{
  min-width: 98px;
  min-height: 141px;
  position: absolute;
  right: 0;
  bottom: 3%;
  transform: translate(10px, 0px);
}
.directions__conteiner {
  position: relative;
  width: 300px;
  min-height: 260px;
  background-color: #fff;
  border-radius: 15px;
  padding: 65px 5px 0px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  text-align: center;
  margin-bottom: 60px;
}
.directions__title{
  padding-bottom: 60px;
  @include philosopher;
  text-align: center;

}
.direction__conteiner--img {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 150px;
  border-radius: 3%;
  overflow: hidden;

}
.direction__conteiner--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.direction__conteiner--content {
  margin-top: 70px; /* Adjust to move content below the image */
}
.direction__conteiner--content h2 {
  /* Прогулки верхом с тренером */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #363434;
}
.direction__conteiner--content span {
  display: block;
  background-color: var(--color-green);
  height: 1px;
  width: 26px;
  margin: 10px auto;
}
.direction__conteiner--content p {
  /* Тренировка клиентов, подготовка к занятиям конным спортом на профессиональном уровне под руководством опытных теннеров */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #7E7E7E;
}