.mobile__nav{
  display: none;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  position: absolute;
  height: 32px;
  width: 32px;
  top: 20%;
  right: 5%;
  z-index: 4;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: black;
  margin: 2px;
  transition: transform 0.3s, background-color 0.3s;
  z-index: 2;
}
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  background: white;
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background: white;
}


.show{
  width: 360px;
  height: 100vh;
  display: flex;
  position: absolute;
  gap: 30px;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: #000;
  opacity: .8;
  justify-content: center;
 a{
   list-style: none;
   text-decoration: none;
   outline: none;
   color: #939292;
 }
 li{
  padding: 10px;
  border: 1px gray;
 }
 
}
@media(max-width: 609px){
  .menu-toggle{
    display: flex;
  }
}

