.newsletter__conteiner{
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #FAFAFA;
  border-radius: 0px;
  p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #000000;
  }
  input{
    position: relative;
    padding-right: 30px;
    border: none;
    height: 30px;
  }
  
}
@media(min-width: 609px){
  .newsletter__conteiner{
    flex-direction: row;
  }
}
.input::after{
  content: '\2709'; 
    position: relative;
    content: "✉";
    right: 15%;
    text-align: center;
   
}

//робив контейнер виїзджающий один з одного
// .container {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   position: relative;
// }

// .top-card {
//   position: relative;
//   width: 200px; 
//   height: 200px; 
//   background-color: #ff0000;
//   transition: transform 0.3s ease, box-shadow 0.3s ease;  
// }

// .bottom-card {
//   width: 200px; 
//   height: 200px;
//   background-color: #0000ff; 
//   transition: transform 0.3s ease, box-shadow 0.3s ease; 
//   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
// }

// .container:hover .top-card {
//   transform: translateY(-50%); 
// }

// .container:hover .bottom-card {
//   transform: translateY(50%); 
// }