.splide{
  display: flex;
  min-height: 450px;
}
.splide__arrow{
background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
box-shadow: 0px 1px 0px #C89C00;
}
.splide__arrow{
  top: 88% !important;
}
.progress-container {
  position: absolute;
  width: 60px!important;
  bottom: 48px;
  left: 50%;
  transform: translate(-50%);
}
.splide__pagination {
  display: flex
}
.splide__pagination li:first-child .splide__pagination__page {
  // border-radius: 0 0 0 10;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.splide__pagination li:last-child .splide__pagination__page {
  // border-radius: 10 0 0 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.splide__pagination__page{
background: #EAEAEA;
box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.17), inset 0 -1px 1px -1px rgba(0, 0, 0, 0.17);
// box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.1), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.1);
margin: 0;
border-radius: 0px;
transition: none;
}
.splide__pagination__page.is-active{
  background: linear-gradient(180deg, #9BCFFF 0%, #FFC700 0.01%, #FF9900 100%);
  border-radius: 10px;
}
// .progress-container {
//   width: 100%;
//   background: #e0e0e0;
//   border-radius: 10px;
//   overflow: hidden;
//   height: 10px;
//   margin-top: 20px;
// }
// .progress-bar {
//   background: linear-gradient(90deg, #fbc02d, #f57c00);
//   height: 100%;
//   width: 0;
//   border-radius: 10px;
//   transition: width 0.25s;
// }