@import './abstracts/reset';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/btn';
@import './abstracts/header';
@import './abstracts/visitors';
@import './components/splide';
@import './components/questions';
@import './components/directions';
@import './components/choose';
@import './components/our';
@import './components/feedback';
@import './components/contacts';





// p{
//   @include text(40px,1,900,red);
// }

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
 };
 *{
  box-sizing: border-box;
 }